@model IEnumerable<GAP.Polizas.Modelo.Poliza>

@{
    ViewBag.Title = "Polizas";
}

<h2>Polizas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiposCubrimiento.TipoCubrimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiposRiesgo.TipoRiesgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InicioVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodoCobertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cobertura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiposCubrimiento.TipoCubrimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiposRiesgo.TipoRiesgo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InicioVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoCobertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cobertura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPoliza }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPoliza }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPoliza })
        </td>
    </tr>
}

</table>
